@import "variables";

%form {

  text-align: left;
  padding: 0 $padding;

  .field > i {
    color: $blue;
    padding: 3px;
    font-weight: bold;
    margin-right: $margin-right/2;
  }

  > * {
    margin: $margin-top 0;
  }

  .field {
    margin: $margin-top 0;
    //display: flex;
    //align-items: flex-start;
    //flex-wrap: wrap;
    //justify-content: flex-start;
  }

}

%field-label {
  font-size: 75%;
  background: $gray-background;
  border-radius: $border-radius;
  padding: 1px $padding;
  color: $blue;
  line-height: 1;
}
