@import "variables";

.list-item {

  box-sizing: border-box;
  min-height: 32px;
  padding: $margin-top $padding;
  text-align: left;
  display: flex;
  flex-direction: row;

  border-top: $gray-border;
  cursor: pointer;

  .texts {
    flex: 1;
  }

  .gray {
    color: $gray;
    font-size: small;
  }

  &.active {
    background: $primary-color;
    color: $white;
  }

  &:last-child {
    border-bottom: $gray-border;
  }

}
