@import "variables";
@import "element-ui";
@import "fonts";

body, html {
  margin: 0;
  overflow: hidden;
}

.gray {
  color: $gray;
}

#app {
  font-family: 'SF Text', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}
