@import "variables";
@import "element-ui";

$font: 'SF Text', Helvetica, Arial, sans-serif;

body, html {
  margin: 0;
  overflow: hidden;
}

.gray {
  color: $gray;
}

#app {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}


input, textarea {
  font-family: $font;
}
