@import "./variables";

.service-points {
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;

  > * {
    width: 100%;
  }
}

.service-point-list {
  overflow-x: hidden;
}

.current-serving-master {
  background: $gray-background;
  padding-bottom: $margin-top;
}

