$black: #101010;
$gray: #404040;
$dark-gray: lighten($black, 20%);
// #fafafa
$gray-background: #f3f3f3;
$gray-border-color: #f0f0f0;
$white: white;

$blue: #26a2ff;
$primary-color: $blue;

$red: red;
$green: green;
$orange: orange;

$icon-button-width: 40px;
$margin-right: 7px;
$margin-top: 7px;
$padding: 6px;

$border-radius: 6px;
$list-cell-borders: solid 1px $gray-border-color;

$gray-border: $list-cell-borders;

%list-cell-bordered {
  border-top: $list-cell-borders;
  border-bottom: $list-cell-borders;
}
